.env
.venv/

# Arquivos temporarios
temp/
*.pdf
*.png
*.jpg
*.jpeg

# Arquivos compilados que o python gera automaticamente
__pycache__/
*.py[cod]
*$py.class

paraMeOrganizar.txt

logs/
temp_images/
relatorios_gerados/

mockdados.json